<nav>
	<div class="nav-wrapper teal">
		<%= image_tag("logo.png", :class => "logo") %>
		<%=link_to("EmmanuelSW", root_path , class:"brand-logo f-black l-padding") %>
		<a data-activates="mobile-demo" class="l-padding f-black button-collapse">
			<i class="material-icons">menu</i>
		</a>

		<ul class="right hide-on-med-and-down">
			<% if user_signed_in? %>
				<li><%= link_to("Articulos", articles_path, :class => "f-black") %></li>

				<% @categories.each do |category| %>
					<li><%= link_to(category.name, category, :class => "f-black") %></li>
				<% end %>
				
				<li><%= link_to("Cerrar Sesión", destroy_user_session_path, method: :delete, class:"f-black") %></li>
			<% else %>
				<li><a class="f-black" href="#">Servicios</a></li>
				<li><a class="f-black" href="#">Acerca de</a></li>
				<li><a class="f-black" href="#">Contacto</a></li>
				<li><%= link_to("Iniciar Sesión", new_user_session_path , class:"f-black") %></li>
				<li><%= link_to("¡Registrate!", new_user_registration_path , class:"f-black") %></li>
			<% end %>
		</ul>

		<ul class="side-nav" id="mobile-demo">
			<% if user_signed_in? %>
				<li><%= link_to("Blog", articles_path, :class => "f-black") %></li>

				<% @categories.each do |category| %>
					<li><%= link_to(category.name, category, :class => "f-black") %></li>
				<% end %>
				
				<li><%= link_to("Cerrar Sesión", destroy_user_session_path, method: :delete, class:"f-black") %></li>
			<% else %>
				<li><a class="f-black" href="#">Servicios</a></li>
				<li><a class="f-black" href="#">Acerca de</a></li>
				<li><a class="f-black" href="#">Contacto</a></li>
				<li><%= link_to("Iniciar Sesión", new_user_session_path , class:"f-black") %></li>
				<li><%= link_to("¡Registrate!", new_user_registration_path , class:"f-black") %></li>
			<% end %>
		</ul>
		
	</div>
</nav>